<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para desplegar el menú -->
    </ion-buttons>
    
    
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login2']" style="display: flex; align-items: center; height: 100%;">
        Login
      </ion-button>
      <ion-avatar slot="end" style="height: 40px; width: 40px; margin-left: 10px;">
        <!-- Imagen de perfil con tamaño ajustado -->
        <img src="assets/img/avatar.jpg" alt="avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Menú lateral de Categorías -->
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Categorías</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home3">Naturaleza</ion-item>
      <ion-item routerLink="/animation">Política</ion-item>
      <ion-item routerLink="/deportes">Deportes</ion-item>
      <ion-item routerLink="/cine">Cine</ion-item>
      <ion-item routerLink="/internacional">Internacional</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <!-- Aquí iría el contenido principal -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <div class="button-container">
      <ion-button fill="solid" [routerLink]="['/noticias']">Destacadas</ion-button>
      <ion-button fill="solid" [routerLink]="['/login']">Menu</ion-button>
      <ion-button fill="solid" [routerLink]="['/home4']">Test</ion-button>
    </div>
  </ion-toolbar>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://marketplace.canva.com/EAFrDm3ydqw/1/0/1600w/canva-presentaci%C3%B3n-noticias-telediario-corporativo-azul-rojo-Vh4S5Wt7FD4.jpg" />
      <ion-card-header>
        <ion-card-title>Ultimas noticias</ion-card-title>
        <ion-card-subtitle>Informacion de la noticia</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Aqui escribir un breve resumen de la noticia
      </ion-card-content>
    </ion-card>
  </div>

  <div class="card-container">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card1.jpg"/>
      <ion-card-header>
        <ion-card-title>¿Es correcto pisar el pedal de embrague y el de freno al mismo tiempo al momento de frenar en un vehículo?</ion-card-title>
        <ion-card-subtitle>Al momento de conducir son varios los aspectos a los cuales los conductores deben prestar especial cuidado para evitar cualquier tipo de incidente frente al volante.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En conversación con ADN.cl, el director de Movilidad de Automóvil Club de Chile, Alberto Escobar, detalló que, en general, la primera maniobra “es frenar, cuando vas en un auto mecánico, evidentemente, y luego poder embragar con la posibilidad de que no se te detenga el auto”.
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card2.jpg"/>
      <ion-card-header>
        <ion-card-title>Este Majin Buu volando con un dispositivo de levitación magnética hará enloquecer a los fanáticos de Dragon Ball Z</ion-card-title>
        <ion-card-subtitle>Las figuras de acción de Dragon Ball aparecen en todas las formas y estilos.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        El Majin Buu volador con levitación magnética tiene una altura total como pieza completa, de 13 centímetros, un ancho de 14.8 centímetros y una profundidad de 13 centímetros. Las características del personaje son exactamente las mismas que aparecen en el último arco de Dragon Ball Z.
        
      </ion-card-content>
    </ion-card>
  </div>

  <div class="card-container">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card3.jpg"/>
      <ion-card-header>
        <ion-card-title>Cómo poner la bandera chilena estas Fiestas Patrias 2024 y evitar que te saquen una multa</ion-card-title>
        <ion-card-subtitle>¡Que no te saquen la multa!, así que no olvides sacar tu bandera chilena y colgarla en tu casa.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Es importante saber que la Ley 20.537 obliga a instalar la bandera chilena en nuestras casas y edificios público los días 18 y 19 de septiembre.

        Además, si vives en departamento no es obligación que la pongas siempre y cuando el edificio ya cuente con una bandera.
        La multa por instalar mal la bandera chilena en nuestras casas puede arruinar tus Fiestas Patrias.
        El monto al que te arriesgas por hacerlo de forma incorrecta varía entre 1 y 5 UTM, es decir, entre $63 mil y $330 mil.
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card4.jpg"/>
      <ion-card-header>
        <ion-card-title>¿Vas a comprar un auto usado? </ion-card-title>
        <ion-card-subtitle>Este es el kilometraje que debería tener el vehículo según sus años de uso</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En concreto, el kilometraje del vehículo es uno de los parámetros más importantes que se debe revisar en un vehículo antes de comprarlo.
        Esto considerando que, si el kilometraje es muy alto, significa que el vehículo ha tenido un desgaste considerable. De tal forma, en el corto plazo.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="card-container">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card5.jpg"/>
      <ion-card-header>
        <ion-card-title>Festival de Toronto 2024: más estrellas y más estrenos</ion-card-title>
        <ion-card-subtitle>Vanessa Kirby en el estreno de 'Edén'</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        La actriz es una de las protagonistas de Edén, el filme basado en hechos reales y dirigido por Ron Howard. Comparte reparto con Jude Law, Sydney Sweeney, Ana de Armas y Daniel Brühl.
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card6.jpg"/>
      <ion-card-header>
        <ion-card-title>"Era una pesadilla": El motivo del drástico cambio físico de ex luchador de la WWE</ion-card-title>
        <ion-card-subtitle>Durante la primera década del 2000's Dave Bautista se posicionó como uno de los luchadores más reconocidos de la WWE bajo el seudónimo de "Batista".</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Bautista ha trabajando en películas como Guardianes de la Galaxia de Marvel, James Bond Spectre, Blade Runner 2049, Dune, entre otras. Hoy el exluchador es uno de los protagonistas de The Last Showgirl, la cual tuvo su estreno en el Festival Internacional de Cine de Toronto.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="card-container">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card7.jpg"/>
      <ion-card-header>
        <ion-card-title>DT del Southampton se entera de la humillación de Gareca a Brereton y así reacciona</ion-card-title>
        <ion-card-subtitle>Ben Brereton se integró a los trabajos del Southampton luego de un amargo viaje con la selección chilena. El delantero fue suplente ante Argentina y ante Bolivia, tras ser confirmado como titular.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Hoy fue el técnico del Southampton el encargado de abordar el episodio. Rusell Martin fue consultado en conferencia de prensa sí el delantero salió por una lesión y sólo se trató de una decisión técnica.
        “Ben está bien. No se trata de una lesión, así que supongo que el técnico tiene sus propias razones. Pero no es mi trabajo llamar a Ricardo Gareca y preguntarle por qué lo sacó”.
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/card8.jpg"/>
      <ion-card-header>
        <ion-card-title>Illia Golem, fisicoculturista conocido como "El Mutante", falleció a los 36 años</ion-card-title>
        <ion-card-subtitle>Conmoción en el mundo del fisicoculturismo ha generado la reciente muerte de Illia Golem.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Según reporta el medio británico The Sun, Illia Golem sufrió un ataque cardíaco en su casa el 6 de septiembre, lo que llevó a su Anna a realizarle RCP. Si bien luego fue trasladado en helicóptero al hospital, posteriormente falleció.
        "Recé todo este tiempo esperando que Illia se recuperara", comentó su esposa, quien agradeció todas las condolencias.
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>






